@model Inmobiliaria_Tanuz.Models.Usuario

@{
    ViewData["Title"] = "Create";

}

<h3 style="font-family:Tahoma">Crear Usuario</h3>


<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data" class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control-file" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Apellido" class="control-label">Apellido</label>
                <input asp-for="Apellido" class="form-control-file" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control-file" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
            
                <label asp-for="Clave" class="control-label">Contraseña</label>
                <input asp-for="Clave" class="form-control-file" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="AvatarFile" class="control-label">Foto</label>
                <input type="file" name="AvatarFile" class="form-control-file" />
                <span asp-validation-for="AvatarFile" class="text-danger"></span>
            </div>
     
            <div class="col-md-6">
                <label class="control-label">Rol</label>
                <select class="form-control-file" name="Rol">
                    @foreach (var item in (IDictionary<int, string>)ViewBag.Roles)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

   <p><a asp-action="Index">Volver a la lista</a></p>
</div>

