@model Inmobiliaria_Tanuz.Models.Pagos

@{
    ViewData["Title"] = "Create";
    //Contrato c = ViewBag.Contrato as Contrato;

}

<h3 style="font-family:Tahoma" class="text-center">Nuevo Pago</h3>

<hr/>
<div class="row align-tex-center">
    <div class="col-lg-12">
        <form asp-action="Create"class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContratoId" class="control-label"></label>
                <input asp-for="ContratoId" value="@ViewBag.Contrato.IdContrato" class="form-control" />
                <span asp-validation-for="ContratoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroDePago" class="control-label"></label>
                <input asp-for="NroDePago" value="@ViewBag.NroDePago" class="form-control" />
                <span asp-validation-for="NroDePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="date" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" value="@ViewBag.Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Contrato" asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
