@model Inmobiliaria_Tanuz.Models.Pagos

@{
    ViewData["Title"] = "Edit";
}

<h3 style="font-family:'Tahoma'">Actualizar datos del Pagos</h3>

<hr />
<div class="row align-tex-center">
    <div class="col-lg-12">
        <form asp-action="Edit" class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-lg-6">
                <label asp-for="ContratoId" class="control-label"></label>
                <input asp-for="ContratoId" class="form-control-file" />
                <span asp-validation-for="ContratoId" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label asp-for="NroDePago" class="control-label"></label>
                <input asp-for="NroDePago" class="form-control-file" />
                <span asp-validation-for="NroDePago" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control-file" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control-file" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
            <div class="col-lg-3">
                <a asp-controller="Contrato" asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
