@model Inmobiliaria_Tanuz.Models.Contrato

@{
    ViewData["Title"] = "Create";
    IList<Inquilino> inquilinos = ViewBag.Inquilino as List<Inquilino>;
    IList<Inmueble> inmuebles = ViewBag.Inmueble as List<Inmueble>;
}

<h3  class="text-center" style="font-family:Tahoma" >Crear un nuevo contrato</h3>

<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create" class="text-lg-center form-inline">
            <div class="col-lg-6">
                <div class="form-control-plaintext">
                    <label class="control-label">Inquilino</label>
                    <select class="form-control-sm" name="InquilinoId">
                        @foreach (var item in inquilinos)
                        {
                            <option value="@item.IdInquilino">@(item.Nombre + " " + item.Apellido)</option>
                        }
                    </select>
                    <span asp-validation-for="InquilinoId" class="text-danger"></span>
                </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label">Dueño del Inmueble</label>
                    <select class="form-control-sm" name="InmuebleId">
                        @foreach (var item in inmuebles)
                        {
                            <option value="@item.IdInmueble">@(item.Duenio.Nombre + " " + item.Duenio.Apellido)</option>
                        }
                    </select>
                    <span asp-validation-for="InmuebleId" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="FechaInicio" class="control-label">Fecha de inicio</label>
                    <input class="form-control-sm" asp-for="FechaInicio" type="date" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="FechaFin" class="control-label">Fecha final</label>
                    <input class="form-control-sm" asp-for="FechaFin" type="date" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
                <div class="col-lg-3">

                    <input type="submit" value="Confirmar contrato" class="btn btn-primary" />

                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

                </div>
</form>
    </div>
</div>

<div>
    <p><a asp-action="Index">Volver a la lista</a></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
