
@{
    ViewData["Title"] = "AlgoRestringido";
}

<h1>AlgoRestringido</h1>

<h4>
    <b>
        @foreach (var u in User.Claims)
        {
            @u.Value<br />}
    </b>
</h4>
<div class="card bg-dark text-white">
    <div class="text-center">
        <h1 class="display-4" style="font-family:'Century Gothic'; font-weight:500;">Inmobiliaria Tanuz</h1>
        

    </div>
</div>