@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Tahoma'">Bienvenidos</h1>
    <p>Somos una Empresa Desarrollista Inmobiliaria dinámica y comprometida que cuenta con un equipo formado por profesionales de distintas disciplinas y de diferentes generaciones con capacitación constante que nos permite lograr una combinación ideal para responder y atender las necesidades de cada cliente.</p>
</div>
<div>
    <img style="width: 100%;" src="https://s3.us-west-2.amazonaws.com/puntoapunto.com.ar/wp-content/uploads/2020/05/03223656/inmobiliarias.jpg" alt="Card image cap">

</div>
